{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block heading %}
О нас
{% endblock %}

{% block content %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora pariatur iure corrupti facere soluta quasi maxime nostrum, adipisci mollitia asperiores sint delectus nisi vero, nam totam quidem dolorum facilis voluptatem suscipit commodi reiciendis, ad amet! Voluptatum, eligendi qui quasi aspernatur, nobis voluptates impedit debitis vero natus, ea error dolorem nulla. Rem perspiciatis sint mollitia? Delectus repellendus ad eos optio deserunt harum praesentium a quasi dolores, temporibus magnam distinctio provident numquam asperiores consequuntur porro impedit sunt quae reiciendis? Exercitationem veniam ullam eos nemo maiores tempora alias. Laborum iure, dignissimos facere consequatur autem alias, ut non, rerum iusto asperiores impedit molestiae. Praesentium?
{% endblock %}