{% extends 'base.html' %}

{% block title %}
Отредактировать статью
{% endblock %}

{% block heading%}
Отредактировать статью
{% endblock %}

{% block content %}
<h1>Редактирование статьи</h1>
<form method="POST">
 <input type="text" name="title" id="title" class="form-control" placeholder="Введите название статьи" value="{{ article.title }}"><br>
 <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
 <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
 <input type="submit" class="btn btn-success" value="Обновить">
</form>
{% endblock %}